@import "./variables";
//?################################## CSS Reset #######################################
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}
//?################################## Utitlity Classes #######################################
.container{
  margin-left: 5rem;
}
//?################################## Intro Design #######################################
.intro{
  .container{
    .box{
      display: flex;
      height: 100vh;
      .left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3{
          font-size: 3rem;
          font-weight: 400;
          margin-bottom: 4rem;
        }
        h1{
          font-size: 6rem;
          margin-bottom: 4rem;

        }
        p{
          font-size: 2rem;
          margin-top: 4rem;
          width: 45%;
        }
        .title{
          overflow: hidden;
          height: 5rem;
          .titleItems{
            animation: move 10s  ease-in-out infinite alternate;
            height: 100%;
            .titleItem{
              height: 5rem;
              font-size: 4rem;
              display: flex;
              align-items: center;
              color: $colorPrimary;
            }
          }
        }
      }
      .right{
        width: 100%;
        height: 100%;
        background-color: $colorPrimary;
        clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
        position: relative;
        .introImg{
          width: 100%;
        }
      }
    }
  }
}
@keyframes move{
  25%{transform: translateY(-5rem);}
  50%{transform: translateY(-10rem);}
  75%{transform: translateY(-15rem);}
  100%{transform: translateY(-20rem);}
}
//?################################## About Design #######################################
.about{
  .container{
    margin-top: 20rem;
    .box{
      display: flex;
      .left{
        width: 150vw;
        position: relative;
        .bg{
          position: absolute;
          top: -30px;
          width: 40rem;
          height: 60rem;
          left: -30px;
          background-color: #333;
          border-radius: 4rem;
        }
        .aboutImg{
          border-radius: 4rem;
          top: 30px !important;
          left: 30px !important;

        }
      }
      .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5rem;
        h1{
          font-size: 4rem;
          font-weight: 400;
          
        }
        h2{
          margin-top: 4rem;
          font-size: 2rem;
        }
        h3{
          margin-top: 2rem;
          font-size: 2rem;
          font-weight: 400;
        }
        p{
          margin-top: 2rem;
          font-size: 2rem;
          font-weight: 300;
          width: 80%;
        }
        .award{
          margin-top: 4rem;
          display: flex;
          align-items: center;
          .awardImg{
            border-radius: 2rem;
          }
          .awardDetails{
            h2{
              font-size: 1.8rem;
              margin-left: 5rem;
              margin-top: 0rem;
            }
            h3{
              font-size: 2rem;
              margin-left: 5rem;
              margin-top: 1rem;
              width: 80%;
            }
          }
          .awardImg{
            display: inline;
          }
        }
      }
    }
  }
}
//?################################## Portfolio Design #######################################
.portfolio{
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
    h1{
      font-size: 5rem;
      width: 40%;
      text-align: center;
      margin-bottom: 3rem;
    }
    p{
      font-size: 2rem;
      width: 50%;
      text-align: center;
      margin-bottom: 4rem;
    }
    .projects{
      .project{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }
  }
}
//?################################## Product Design #######################################
.p {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.pBrowser {
  height: 20px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.pCircle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;
}
.c1{
  background-color: red;
}
.c2{
  background-color: hsl(60, 90%, 50%);
}
.c3{
  background-color: rgb(36, 255, 36);
}

.pImg {
  width: 100%;
  transition: all 10s ease;
}

.p:hover .pImg {
  transform: translateY(-100%);
}
//?################################## Contact Design #######################################
.contact{
  display: flex;
  h1{
    font-size: 7rem;
  }
}